<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html>
	<head>
		<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
		<title>{{$site.title}}</title>
		<link rel="stylesheet" type="text/css" href="{{$site.url}}/css/root.css" />
		<style>
			body {
				text-align : center;
			}
			table {
				margin : auto;
			}
			#hajime {
			}
			#yuma {
				padding-left : 20px;
			}
			#ahi {
				padding-left : 60px;
			}
			#pope {
				padding-left : 30px;
			}
		</style>
	</head>
	<body>
		{{import file="file://header.html"}}{{/import}}
		{{import file="file://gm.html"}}{{/import}}

		<div id="root">

			<h1>つくった人たち</h1>

			<table id="hajime">
				<tr>
					<td><img src="{{$site.url}}/img/icon_hajime.png" /></td>
					<td>プロデュース 松本創</td>
				</tr>
			</table>

			<table id="yuma">
				<tr>
					<td>ディレクション 田原遊馬</td>
					<td><img src="{{$site.url}}/img/icon_yuuma.png" /></td>
				</tr>
			</table>

			<table id="ahi">
				<tr>
					<td><img src="{{$site.url}}/img/icon_ahi.png" /></td>
					<td>デザイン 小松久美子</td>
				</tr>
			</table>

			<table id="pope">
				<tr>
					<td>コーディング 森下智昭</td>
					<td><img src="{{$site.url}}/img/icon_poppe.png" /></td>
				</tr>
			</table>

		</div>
		{{import file="file://footer.html"}}{{/import}}
	</body>
</html>
