<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html>
	<head>
		<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
		<title>{{$site.title}}</title>
		<link rel="stylesheet" type="text/css" href="{{$site.url}}/css/root.css" />
	</head>
	<body>

		{{import file="file://header.html"}}{{/impot}}
		{{import file="file://gm.html"}}{{/impot}}


		<div style="clear:both" id="main_contents">

			<table width="100%">
				<tr valign="top">
					<td>
						<h2>あいさつ</h2>
						<div class="contents_box">
							<p>
							こんにちは、松本創です。
							Webコミュニティで現実の生活を加速させるべく、
							かむながら復活の活動をはじめました。
							</p>
						</div>

						<h2>このサイトで出来ること</h2>
						<div class="contents_box">
							<table>
								<tr>
									<td>プロジェクト管理</td>
									<td>かむなプロジェクトに参加するための道具があります。</td>
								</tr>
								<tr>
									<td>SNS機能</td>
									<td>自己紹介、友達などを登録できるSNS機能があります。</td>
								</tr>
								<tr>
									<td>コミュニティ機能</td>
									<td>自分のコミュニティが作れます。</td>
								</tr>
								<tr>
									<td>掲示板機能</td>
									<td>情報共有ができます。</td>
								</tr>
							</table>

						</div>
					</td>
					<td width="400px">
						XXXX年 MM月 DD日 更新 <a href="{{$site.url}}/index.php/view/update.log">詳細</a>
						<h2>お知らせ</h2>
						<div class="contents_box">
							<p>
							2010.09.27 かむな復活
							</p>
							<p>
							2010.09.27 かむな復活
							</p>
							<p>
							2010.09.27 かむな復活
							</p>
							<p>
							2010.09.27 かむな復活
							</p>
							<a href="#">すべてを見る</a>
						</div>
						<h2>つぶやき</h2>
						<div class="contents_box">
							登録メンバーのつぶやき一覧
						</div>
					</td>
				</tr>
			</table>



		</div>

		<div id="footer">
			<div id="footer_menus">
				<a href="#">広告掲載</a>
				<a href="#">広告掲載</a>
				<a href="#">広告掲載</a>
				<a href="#">広告掲載</a>
				<a href="#">広告掲載</a>
				<a href="#">広告掲載</a>
				<a href="#">広告掲載</a>
			</div>

			<div style="clear:both">
				&copy; since 2010 09 27, hajime.org 
			</div>
		</div>


	</body>
</html>
