<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html>
	<head>
		<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
		<title>{{$site.title}}</title>
		<link rel="stylesheet" type="text/css" href="{{$site.url}}/css/root.css" />
	</head>
	<body>

		<div id="header">
			<h1 id="logo"><img alt="KAMUNA" src="{{$site.url}}/img/logo_kamuna.png" /></h1>
			<!--
			<table cellspacing="0" cellpadding="0" width="100%">
				<tr>
					<td width="200px">
						<h1 id="logo"><img alt="KAMUNA" src="{{$site.url}}/img/logo_kamuna.png" /></h1>
					</td>
					<td>
						<div id="global_menu">
							<a href="#">TOP</a>
							<a href="#">WIKI</a>
							<a href="#">掲示板</a>
							<a href="#">ショップ</a>
							<a href="#">検索</a>
							<a href="#">ヘルプ</a>
							<a href="#">プライバシーポリシー</a>
						</div>
					</td>
				</tr>
			</table>
			//-->
		</div>

		<div id="global_menu">
			<a href="{{$site.url}}">TOP</a>
			<a href="{{$site.url}}/index.php/view/credit">クレジット</a>
			<a href="#">私たちについて</a>
			<a href="#">代表挨拶</a>
			<a href="#">掲示板</a>
			<a href="#">チャット</a>
			<a href="#">ブログ</a>
			<a href="#">つぶやき</a>
			<a href="#">コンタクト</a>
			<a href="#">作成者達</a>
			<a href="#">買い物</a>
			<a href="#">仕事依頼</a>
			<a href="#" id="login">ログイン/新規登録</a>
		</div>

		<div style="clear:both" id="main_contents">

			<h1>更新履歴</h1>

			<h2>2010.09.27</h2>
			<div class="contents_box">
				<p>
				基本パーツ作成
				</p>
			</div>

			<h2>2010.09.27</h2>
			<div class="contents_box">
				<p>
				基本パーツ作成
				</p>
			</div>

			<h2>2010.09.27</h2>
			<div class="contents_box">
				<p>
				基本パーツ作成
				</p>
			</div>

			<h2>2010.09.27</h2>
			<div class="contents_box">
				<p>
				基本パーツ作成
				</p>
			</div>

			<h2>2010.09.27</h2>
			<div class="contents_box">
				<p>
				基本パーツ作成
				</p>
			</div>

			<h2>2010.09.27</h2>
			<div class="contents_box">
				<p>
				基本パーツ作成
				</p>
			</div>
		</div>

		<div id="footer">
			<div id="footer_menus">
				<a href="#">広告掲載</a>
				<a href="#">広告掲載</a>
				<a href="#">広告掲載</a>
				<a href="#">広告掲載</a>
				<a href="#">広告掲載</a>
				<a href="#">広告掲載</a>
				<a href="#">広告掲載</a>
			</div>

			<div style="clear:both">
				&copy; since 2010 09 27, hajime.org 
			</div>
		</div>


	</body>
</html>
