body {
	background:#F3FCC1;
	color : #414333;
	margin : 0px;
}

h1 {
	color : #795436;
	font-size : 24px;
}

#header {
	height : 87px;
	background : url("../img/bg1.png") 0px -30px;
	position : relative;
}
#header h1{
	color : #FFFFFF;
	font-size : 26px;
	position : absolute;
	margin : 0px;
	top : 20px;
	left : 15px;
}

#gm {
	background : url("../img/bg_gm1.png");
	height : 26px;
	padding-left : 10px;
}
#gm a{
	display : block;
	padding-top : 6px;
	height : 20px;
	text-decoration : none;
	float : left;
	padding-left : 15px;
	padding-right : 15px;
	font-size : 12px;
	color : white;
}
#gm a:hover {
	background : url("../img/bg_gm1_over.png");
}

#footer {
	border-top : double 3px #878780;
	margin-top : 100px;
	padding-top : 10px;
	text-align : center;
	font-size : 12px;
	color : #424259;
}

#footer .menus {
	margin-bottom : 10px;
}
